@media only screen and (min-width: 0rem) {
 body, html {
  scroll-behavior: smooth;
 }
}

@media screen and (max-width: 719px) {
 .header {border-radius:0 0 20px 20px;}
 /* .content-block {min-height: 662px;} */
 h1 {font-size:24px;}
 p {font-size:12px;}
}

@media screen and (min-width: 720px) {
 /* .content-block {min-height: 646.67px;} */
 h1 {font-size:28px;}
 p {font-size:16px;}
}

@media screen and (min-width: 999px) {
 h1 {font-size:32px;}
}

@media screen and (min-width: 1920px) {
 /* .content-block {min-height:970px;} */
}

*, *:before, *:after {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html {
 background-color: var(--primary);
 background-size: cover;
 background-repeat: no-repeat;
}

.content-block {
 height: 100vh;
 display: flex;
 width: 100%;
}