html {
 background-color: #080808;
}
.header {
 background-color: #000000;
 position: sticky;
}
.footer {
    text-align: center;
}
.smallt {
    font-family: Verdana, sans-serif;
    color: #FFFFFF;
}