@media only screen and (min-width: 0rem) {
 body, html {
  scroll-behavior: smooth;
 }
}

@media screen and (max-width: 749px) {
 #INFO-3 {img{margin-bottom:1rem;}}
 #profimage {border-radius:100% 100% 0 0;}
 .profimage-cont img {max-height:55vh;}
 .content-block {padding:0 1rem;flex-wrap:wrap;align-content:center;}
 h1 {font-size:24px;}
 p {font-size:16px;}
}

@media screen and (min-width: 750px) {
 h1 {font-size:28px;}
 #INFO-1 {}
 #profimage {border-radius:0 100% 100% 0;}
 .profimage-cont img {max-height:60vh;}
 .content-block {padding:0 1rem;flex-wrap:nowrap;}
 p {font-size:16px;}
}

@media screen and (min-width: 1195px) {
 h1 {font-size:32px;}
 .content-block h1 {font-size:48px;}
 .content-block {padding:0 2rem;}
 .profimage-cont img {max-height:65vh;}
}

@media screen and (min-width: 1920px) {
 .content-block h1 {font-size:56px;}
}

*, *:before, *:after {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html {
 background-color: var(--whte);
 background-size: cover;
 background-repeat: no-repeat;
}

.content-block {
 height: 100vh;
 display: flex;
 width: 100%;
}

.content-block a {
 color: var(--second);
}

.accent-button {
 background-color: var(--accent);
}