.project video, .project img {
 border-radius: 1rem;
 max-width: 100%;
 height: 100%;
 object-fit:cover;
}

.proj_row {
 display:flex;
 flex-wrap:nowrap;
 gap:1rem;
 justify-content: center;
 max-height: 65vh;
 max-width: 65vw;
}

.proj_collection {
 display:flex;
 justify-content:center;
 flex-wrap:wrap;
 gap:1rem;
 width: 100%;
}