* {
    margin: 0;
    padding: 0;
}

.content-row {
    width: 80%;
    justify-self:center;
    display: flex;
    align-items: center;
}

#brand-design {
    background-color: var(--lblue);
}

.itsy-grid img, section div video {
    object-fit:cover;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 0.833333vw;
}

.itsy-grid div:hover {
    opacity: 0.5;
}

.itsy-grid {
    display: grid;
    gap: 0.833333vw;
    width: 50vw;
    grid-template-columns: 36fr 64fr;
    grid-template-rows: auto auto;
    padding: 0.833333vw;
    padding-right: 0.4151515vw;
}

.itsy-grid > div {
    min-width: 0;
    min-height: 0;
    transition: 0.2s;
}

@media screen and (max-width:499px) {
    h2 {font-size:8vw;}
}

@media screen and (min-width:500px) {
    h2 {font-size:4vw;}
}

#brand-design .itsy-grid {
    grid-template-areas:
    "itsy-1 itsy-1"
    "itsy-2 itsy-3";
}