.project video, .project img {
 border-radius: 1rem;
 width: auto;
 height: 100%;
 display: block;
}

.project {
 flex; 1;
 padding: 1rem;
}

.proj_row {
 display:flex;
 flex-wrap:nowrap;
 gap:1rem;
 justify-content: center;
 height: 45vh;
 width: 80vw;
 margin: 0 auto;
}

.proj_collection {
 display:flex;
 justify-content:center;
 flex-wrap:wrap;
 gap:1rem;
 width: 100%;
}