<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
    xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">
  <url>
    <loc>https://briandyer.com</loc>
    <lastmod>2025-08-22</lastmod>
    <image:image>
      <image:loc>https://briandyer.com/IMG_2809.webp</image:loc>
    </image:image>
    <image:image>
      <image:loc>https://briandyer.com/briandyer.com_og.png</image:loc>
    </image:image>
  </url>
</urlset>